:root {
    --white: #FFFFFF;
    --color-1: #FF5959;
    --color-2: #FACF5A;
    --color-3: #49BEB7;
    --color-4: #085F63;
    --color-5: #074a4e;
    --dark-grey: #202020;
    --light-grey: #a9a9a9;
    --beige: #FFE3B3;
    --text-light: #818181;
    --text-dark: #212121;
  }

.landing-container {
    display: flex;
    align-items: center;
    overflow-y: hidden;
}

.auth-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 4em;
    height: 100vh;
}

.auth-form > .form-container {
    width: 400px
}

.landing-image {
    height: 100vh;
    filter: brightness(60%);
}

.logo-landing {
    position: absolute;
    width: 500px;
    top: 35%;
    left: 53%;
    z-index: 10;
}

.auth-form > h2 {
    margin-left: 0.8em;
    color: var(--color-3)
}

.auth-form > p {
    font-weight: 600;
    margin-left: 0.8em;
    color: var(--color-3)
}