:root {
  --white: #FFFFFF;
  --color-1: #FF5959;
  --color-2: #FACF5A;
  --color-3: #49BEB7;
  --color-4: #085F63;
  --color-5: #074a4e;
  --dark-grey: #202020;
  --light-grey: #a9a9a9;
  --beige: #FFE3B3;
  --text-light: #818181;
  --text-dark: #212121;
}

.chats-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 250px;
  height: 100vh;
  overflow: hidden;
}

.row {
  display: grid;
  grid-template-columns: 2fr 5fr;
  gap: 2em;
}

.column {
  display: flex;
  flex-direction: column;
  height: 80vh;
  margin-top: 100px;
  border: 1px solid var(--light-grey);
  border-radius: 8px;
  padding: 1em;
}

.current-chat {
  display: flex;
  align-items: center;
  border: 1px solid var(--light-grey);
  border-radius: 8px;
  padding: 1em 2em;
  gap: 1em;
}

.chat-list-container {
  width: 100%; 
  padding: 20px;
  box-sizing: border-box;
  max-width: 300px;
  overflow-y: auto; /* Enable vertical scrollbar when content overflows */
}

.chat-list {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
}

.chat-item {
  display: flex;
  align-items: center;
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 8px;
  cursor: pointer;
  gap: 1em;
}

.chat-item:hover {
  background-color: rgb(200, 200, 200);
}

.chat-avatar {
  width: 40px; 
  height: 40px;
  border-radius: 20px;
  object-fit: cover;
  margin-right: 10px;
}

.chat-details {
  display: flex;
  flex-direction: column;
}

.chat-name {
  margin: 0;
  font-weight: bold;
  color: #333; 
}
/* chatbox ----------------------------*/
.chatbox {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.styles_scrollable-div__prSCv {
  max-height: 200px;
}

.message-input {
  top: 600px;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--light-grey);
  border-radius: 8px;
  padding: 1em;
  gap: 1em;
}

.message-list {
  /* border: 2px solid green; */
  padding-right: 2em;
  overflow-y: auto;
}

.message-box {
  display: flex;
  align-items: center;
  margin: 0.5em 0; 
}

.message {
  overflow-wrap: break-word;
  max-width: 50%;
  padding: 0 16px;
  border-radius: 8px;
}

.sent {
  border-radius: 8px;
  background-color: var(--light-grey);
  align-self: right;
}

.received {
  border-radius: 8px;
  background-color: var(--color-2);
  align-self: left;
}

/* group chat -----------------------------*/
.friends-list {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin: 0 auto;
  width: 500px;
  max-height: 500px;
  background-color: white;
  padding: 2em;
  overflow-y: auto;
  border: 2px solid var(--light-grey);
  border-radius: 8px;
  left: 40%;
  top: 25%;
}

.friends-list .close-button {
  color: var(--text-dark);
  background-color: white;
  font-size: 2em;
  width: 50px;
  padding: 0;
  margin-right: -80px;
}

.create-groupchat-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.chat-item label {
  display: flex;
  align-items: center;
  gap: 1em;
}