:root {
    --white: #FFFFFF;
    --color-1: #FF5959;
    --color-2: #FACF5A;
    --color-3: #49BEB7;
    --color-4: #085F63;
    --color-5: #074a4e;
    --dark-grey: #202020;
    --light-grey: #a9a9a9;
    --beige: #FFE3B3;
    --text-light: #818181;
    --text-dark: #212121;
  }

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    margin-top: 150px;
    padding: 150px 50px 50px 50px;
    width: 600px;
    min-height: 500px;
    border-radius: 8px;
    border:1px solid var(--light-grey)
}

.profile-container > .profile-image {
    scale: 5;
    margin-bottom: 4em;
}

.username {
    font-size: 32px;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 1em;
    text-align: center;
}

.text-container > p, h3 {
    margin: 0;
    padding: 0;
}
.text-container > p {
    color: var(--text-light);
}

.profile-container button {
    margin-top: 2em;
}

/* edit profile ------------------------------*/
.profile-edit-container > .profile-image {
    scale: 5;
    margin-bottom: 4em;
}

.profile-edit-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    margin-top: 150px;
    padding: 150px 50px 50px 50px;
    width: 600px;
    min-height: 500px;
    border-radius: 8px;
    border: none;
}

.profile-edit-container form {
    padding-bottom: 2em;
}
