:root {
  --white: #FFFFFF;
  --green-1: #88D498;
  --green-2: #1A936F;
  --green-3: #114B5F;
  --dark-grey: #202020;
  --light-grey: #a9a9a9;
  --beige: #FFE3B3;
  --text-light: #949494;
  --text-dark: #212121;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--white);
  /* padding: 2vmin;
  height: 100vh; */
  /* border: 5px solid red; */
}

a {
  text-decoration: none;
}
/* .section-heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--tan-1);
  color: var(--text-dark);
  border: .1vmin solid var(--tan-3);
  border-radius: 1vmin;
  padding: .6vmin;
  text-align: center;
  font-size: 2vmin;
} */

.form-container {
  padding: 3vmin;
  background-color: var(--green-1);
  border: .1vmin solid var(--green-1);
  border-radius: 1vmin;
}

p.error-message {
  color: red;
  text-align: center;
}

form {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1.25vmin;
  color: var(--text-light);
}

label {
  font-size: 2vmin;
  display: flex;
  align-items: center;
}

input {
  padding: 1vmin;
  font-size: 2vmin;
  border: .1vmin solid var(--light-grey);
  border-radius: .5vmin;
  color: var(--text-dark);
  background-image: none !important; /* prevent lastpass */
  outline: none;
}

input:focus {
  border-color: var(--orange);
}

button, a.button {
  margin: 1vmin;
  padding: 1vmin;
  color: var(--white);
  background-color: var(--green-3);
  font-size: 2vmin;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: none;
  border-radius: .5vmin;
  outline: none;
  cursor: pointer;
}

button.btn-sm {
  font-size: 1.5vmin;
  padding: .6vmin .8vmin;
}

button.btn-xs {
  font-size: 1vmin;
  padding: .4vmin .5vmin;
}

button:disabled, form:invalid button[type="submit"] {
  cursor: not-allowed;
  background-color: var(--light-grey);
}

button[type="submit"] {
  grid-column: span 2;
  margin: 1vmin 0 0;
}

.profile-image {
  height: 5vmin;
  width: 5vmin;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: x-large;
  background-size: cover;
  background-repeat: no-repeat;
}

.profile-image-large {
  height: 25vmin;
  background-size: contain;
  display: flex;
  background-repeat: no-repeat
}

/* CommunityCard -------------------*/
.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 1em;
  padding: 4em 0;
}

.card {
  background-color: white;
  width: 600px;
  margin: 0 auto;
  padding: 1em 2em;
  border: 1px solid black;
  cursor: pointer;
}

.card img {
  width: 535px;
}

/* navbar -------------------*/
nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 20%;
  height: 100%;
  background-color: #114B5F;
  padding: 50px 10px;
}

.nav-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  /* border: 1px solid red; */
}

.page-links {
  height: 200px;
}

.nav-section p {
  font-size: 16px;
  padding: 0 10px;
  color: white;
}

nav a {
  font-size: 20px;
  padding: 8px 16px;
  color: white;
  /* border: 3px solid green; */
}

.active {
  background-color: #1A936F;
  border-radius: 8px;
}

nav a:hover:not(.active){
  background-color: #0a323f;
  border-radius: 8px;
}



.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20%;
  height: 100vh;
  }




